<div class="widgetname" data-dojo-attach-point="widgetBase">


    <div id="mapContainer">
        <div id="map"></div>
        <div id="search"></div>
        <div class="dropdownWrapper">
            <div class="dropdown">
                <button class="dropbtn"><span class="esri-icon-layer-list ico"></span>Layers</button>
                <div class="dropdown-content">
                    <div id="layerList"></div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><span class="esri-icon-edit ico"></span>Draw Tools</button>
                <div class="dropdown-content">
                    <div id="mainWindow" data-dojo-type="dijit/layout/BorderContainer"
                        data-dojo-props="design:'headline'">
                        <div id="header" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'">

                            <button data-dojo-type="dijit/form/Button"><span class="esri-icon-map-pin ico"></span>Point</button>

                            <button data-dojo-type="dijit/form/Button"><span class="esri-icon-polyline ico"></span>Multi Point</button>
                            <button data-dojo-type="dijit/form/Button"><span class="esri-icon-minus ico"></span>Line</button>
                            <button data-dojo-type="dijit/form/Button">Polyline</button>
                            <button data-dojo-type="dijit/form/Button">Polygon</button>
                            <button data-dojo-type="dijit/form/Button">Freehand Polyline</button>
                            <button data-dojo-type="dijit/form/Button">Freehand Polygon</button>

                            <button data-dojo-type="dijit/form/Button">Arrow</button>
                            <button data-dojo-type="dijit/form/Button">
                                <span class="esri-icon-up-arrow ico"></span>
                                Triangle
                            </button>
                            <button data-dojo-type="dijit/form/Button">Circle</button>
                            <button data-dojo-type="dijit/form/Button">Ellipse</button>
                        </div>
                    </div>


                </div>

            </div>
            <div class="dropdown">
                <button class="dropbtn"><span class="esri-icon-basemap ico"></span>Base Maps</button>
                <div class="dropdown-content">
                    <div id="basemapGallery"></div>
                </div>
            </div>



            <!--<div id="HomeButton"></div>-->
            <!-- 
            <div class="dropdown">
                <button class="dropbtn">Measure Tools</button>
                <div class="dropdown-content">
                    <div id="measurementDiv"></div>
                </div>
            </div>
        </div>
        -->

        </div>







    </div>
