.widgetname #HomeButton {
    position: absolute;
    top: 200px;
    left: 20px;
    z-index: 50;
  }

 .widgetname #map {
    padding-top: 10px;
    margin:0;
    height:100%;
  }

  .widgetname #search {
    position: absolute;
    bottom: 90px;
    left: 20px;
    z-index: 50;
  }

  #mainWindow {
    font-family: sans-serif; 
    height: 100%; 
    width: 100%; 
  }

  #header {
    height: 80px; 
    overflow: auto;
    padding: 0.5em;
  }